<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729239388132-csm2t1cvfil2kgcm2jtib6aoi1a5iaf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729239388132-csm2t1cvfil2kgcm2jtib6aoi1a5iaf0</string>
	<key>API_KEY</key>
	<string>AIzaSyBc6c6PfJr4o3F7U3WkUDyqC2RbqyyyffQ</string>
	<key>GCM_SENDER_ID</key>
	<string>729239388132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.analytics.native</string>
	<key>PROJECT_ID</key>
	<string>freebee-22ac9</string>
	<key>STORAGE_BUCKET</key>
	<string>freebee-22ac9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729239388132:ios:bed20b2d78d51379fb11f1</string>
</dict>
</plist>